<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Datasets?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %} Datasets exist under a Functional Unit where their access can be controlled and provide a container for uploaded raw data and the associated metadata. Datasets can be requested using a Data Request feature. {% endtrans %}
    </p>
  </div>
</div>
