{% resource 'knowledgehub/javascript/favourite_dashboard.js' %}

{% set truncate = truncate or 180 %} {% set truncate_title = truncate_title or
80 %} {% set title = dashboard.title or dashboard.name %} {% set notes =
h.markdown_extract(dashboard.description, extract_length=truncate) %} {% block
dashboard_item %}
<li class="component-item" style="width: 340px; max-width: 340px;">
  {% block content %}
  <div class="component-content">
    {% block heading %}
    <div class="dashboard-thumbnail-container">
      <div class="dashboard-thumbnail">
        <iframe src="{{ h.url_for('dashboards.view', name=dashboard.name) }}" frameborder="0"></iframe>
      </div>
    </div>
    <div class="dashboard-title-box">
      <h3 class="component-heading" style="width:60%;">
        {% block heading_title %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for('dashboards.view', name=dashboard.name)) }}
        {% endblock %}
      </h3>
      {% if h.check_access('dashboard_update') %}
      <a href="{{ h.url_for('dashboards.edit', name=dashboard.name) }}" title="{{ _('Manage') }}"
        class="dashboard-manage-icon">
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </a>
      {% endif %}
      {% set favourited_by_users_list = dashboard.favourited_by_users.split(',') if dashboard.favourited_by_users else []%}
      <div class="dashboard-item-star" style="margin-right: 25px;">
        <div class="dashboard-fav-click" id="{{ dashboard.id }}-fav-click">
            <input type="hidden" id="dashboard-id" value="{{ dashboard.id }}">
            <span id="{{ dashboard.id }}"
                        {% if current_login_user and current_login_user in favourited_by_users_list %}
                        class="fa fa-star"
                        {% else %}
                        class="fa fa-star-o"
                        {% endif %}
            >
            </span>
            <div class="dashboard-fav-ring"></div>
            <div class="dashboard-fav-ring2"></div>
          <div class="dashboard-fav-info" id="{{ dashboard.id }}-fav-info">Added to favourites!</div>
        </div>
      </div>
    </div>
    {% endblock %} {% block notes %} {% if notes %}
    <div>{{ notes | urlize }}</div>
    {% else %}
    <p class="empty">{{ _('This dashboard has no description') }}</p>
    {% endif %} {% endblock %}

  </div>
  {% endblock %}
</li>
{% endblock %}
