{% trans %}
<p>
Knowledge Hub is a CKAN-based data portal on Displaced Populations in the Middle East North Africa (MENA) Region. 
The objective of the platform is to facilitate the operations of UNHCR in the MENA region by creating an internal 
system for consolidation of data in one place and providing capabilities for the analysis, exploration, 
visualization and sharing of the data. 
</p>

<p>
You can login using your UNHCR credentials. From within the system, you can request access to different datasets or 
dashboards that are existing already, and make requests for other data or assistance to the DIMA unit. 
For technical issues related to access problems or bugs, please contact Daniel Vulanovic, Business Analyst 
and technical lead for KnowledgeHub. For data related questions please contact Bram Dekker, Data Scientist and data custodian for KnowledgeHub.
</p>
{% endtrans %}
